# Secrets
.env

# Project-specific configuration
config.json

# Virtual environments
venv/

# Pipenv files
Pipfile.lock

# Test cache
.pytest_cache/

# Translation Storage file
translations.yaml

# Fly config file
fly.toml
